<ul>
    <li><a href="https://platform.sh/blog/news/">Company news</a></li>
    <li><a href="https://platform.sh/blog/product/">Product updates</a></li>
    <li><a href="https://platform.sh/blog/engineering/">Engineering</a></li>
    <li><a href="https://platform.sh/blog/business/">Business</a></li>
    <li><a href="https://platform.sh/blog/customer-stories/">Customer stories</a></li>
    <li><a href="https://platform.sh/blog/security-compliance/">Security & compliance</a></li>
    <li><a href="https://platform.sh/blog/partners/">Partners</a></li>
</ul>