<ul>
    <li><a href="https://www.youtube.com/playlist?list=PLn5EpEMtxTClCN_Kgz1ax5y9gPgJWR5HA">Technical talks</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PLn5EpEMtxTCmQJEDqHWJ7B0bPzPoSaphO">Build Anything Together @ SymfonyCon 2022</a></li>
    <li><a href="https://www.youtube.com/watch?v=BJduKOcYJsY">risk3sixty #34: Platform.sh’s Security and Privacy Journey (w/ Joey Stanford)
    </a></li>
    <li><a href="https://www.youtube.com/playlist?list=PLn5EpEMtxTCmLsbLgaN3djvEkRdp-YmlE">Deploy Friday podcast</a></li>
    <li><a href="https://www.youtube.com/watch?v=Bq-LFjgD6L0&t=114s">Observability from Development to Production</a></li>
    <li><a href="https://www.youtube.com/watch?v=UM5hYTLs-UU">Build apps not platforms: Optimized DevOps without platform engineering</a></li>
    <li><a href="https://www.youtube.com/watch?v=ny2YeD6Qt3M">An overview of Platform.sh</a></li>
</ul>