<ul>
    <li><a href="https://www.blackfire.io/features/">Website</a></li>
    <li><a href="https://blackfire.io/docs/introduction">Documentation</a></li>
    <li><a href="https://blog.blackfire.io/category/product-news">Blog - Product news</a></li>
    <li><a href="https://blog.blackfire.io/category/tech">Blog - Tech news</a></li>
    <li><a href="https://blog.blackfire.io/category/case-studies">Blog - Case studies</a></li>
    <li><a href="https://blog.blackfire.io/category/company-news">Blog - Company news</a></li>
</ul>