<!-- shortcode start {{ .Name }} -->
<div class="flex flex-wrap items-center justify-center">
  <a class="p-4 border-2 border-ebony mx-4 no-underline hover:no-underline flex text-lg text-ebony hover:bg-ebony hover:text-snow focus:bg-ebony focus:text-snow [&>div]:hover:bg-[url(/images/logos/php_logo--inverted.png)]" href="/get-started/deploy/init.html?stack=php">
    <div class="w-6 h-6 inline-block bg-no-repeat mr-2 bg-[url(/images/logos/php_logo.png)]"></div>
    <span>PHP</span>
  </a>
  <a class="p-4 border-2 border-ebony mx-4 no-underline hover:no-underline flex text-lg text-ebony hover:bg-ebony hover:text-snow focus:bg-ebony focus:text-snow" href="/get-started/deploy/init.html?stack=python">
    <div class="w-6 h-6 inline-block bg-no-repeat mr-2 bg-[url(/images/logos/python_logo.png)]"></div>
    <span>Python</span>
  </a>
  <a class="p-4 border-2 border-ebony mx-4 no-underline hover:no-underline flex text-lg text-ebony hover:bg-ebony hover:text-snow focus:bg-ebony focus:text-snow" href="/get-started/deploy/init.html?stack=nodejs">
    <div class="w-6 h-6 inline-block bg-no-repeat mr-2 bg-[url(/images/logos/nodejs_logo.png)]"></div>
    <span>Node.js</span>
  </a>
  <a class="p-4 border-2 border-ebony mx-4 no-underline hover:no-underline flex text-lg text-ebony hover:bg-ebony hover:text-snow focus:bg-ebony focus:text-snow" href="/get-started/deploy/init.html?stack=golang">
    <div class="w-6 h-6 inline-block bg-no-repeat mr-2 bg-[url(/images/logos/go_logo.png)]"></div>
    <span>Go</span>
  </a>
  <a class="p-4 border-2 border-ebony mx-4 no-underline hover:no-underline flex text-lg text-ebony hover:bg-ebony hover:text-snow focus:bg-ebony focus:text-snow [&>div]:hover:bg-[url(/images/logos/java_logo--inverted.png)]" href="/get-started/deploy/init.html?stack=java">
    <div class="w-6 h-6 inline-block bg-no-repeat mr- bg-[url(/images/logos/java_logo.png)]"></div>
    <span>Java</span>
  </a>
</div>
<!-- shortcode end {{ .Name }} -->
