<!-- Parameters -->
<!-- If not passed, unordered list -->
{{ $sequence := .Get "ordered" }}
<!-- If passed, pages listed will be beneath the given 'root' bundle -->
{{ $root := .Get "root" }}
<!-- If true, description is shown -->
{{ $desc := .Get "desc" }}
<!-- Step box title -->
{{ $title := .Get "title" }}
<!-- Skip the first page entry -->
{{ $skipFirst := .Get "skipFirst" }}
<!-- List type -->
<div class="step-container{{ if eq $sequence "true" }} step-container-ol{{ else }} step-container-ul{{ end }}">
{{ if $title }}
<h3>{{ $title }}</h3>
{{ end }}
{{ if eq $sequence "true" }}
<h5>Steps:</h5>
<ol class="step-box steps">
{{ else}}
<ul class="step-box">
{{ end }}
<!-- Range of pages: either the current or passed page bundle -->
{{ $currentPage := .Page }}
{{ $rootPage := .Page }}
{{ if $root }}
    {{ $rootPage = .Site.GetPage $root }}
{{ end }}
<!-- Loop -->
{{ $first := 1 }}
{{ range $rootPage.Pages.ByWeight }}
{{ if and (eq $first 1) (eq $skipFirst "true")}}
{{ $first = 0 }}
{{ else }}
<li>
    <!-- Do not link if item is the current page -->
    {{ if eq . $currentPage }}
<div>
    <strong>{{ if isset .Params "sidebartitle" }}{{ .Params.sidebarTitle | .RenderString }}{{ else }}{{ .Title | .RenderString }}{{ end }}</strong>
</div>
    <!-- Otherwise, provide a link to the step -->
    {{ else }}
<div>
    <a href="{{ .RelPermalink }}">{{ if isset .Params "sidebartitle" }}{{ .Params.sidebarTitle | .RenderString }}{{ else }}{{ .Title | .RenderString }}{{ end }}</a>
</div>
    {{ end }}
    <!-- Description of page -->
    {{ if eq $desc "true"}}
<div>
    {{ .Params.description | .RenderString }}
</div>
    {{ end }}
</li>
{{ end }}
{{ end }}
<!-- End list type -->
{{ if eq $sequence "true" }}
</ol>
{{ else}}
</ul>
{{ end }}
</div>


<style>
    .step-container {
        border: 1px solid #6046FF !important;
        margin: 2rem auto !important;
        padding: 1rem;
    }

    .step-container > h3,
    .step-container > h5 {
        margin-top: 1rem !important;
        margin-left: 1.5rem;
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 500;
    }

    .step-box > li {
        margin: 1rem;
    }

    ul.step-box {
        list-style: none !important;
        padding-inline-start: 0;
        margin-block-start: 0 !important;
    }

    .steps {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        font-family: "Instrument Sans", sans-serif;
    }

    .step-container-ol {
        max-width: 75% !important;
    }
    .step-container-ul {
        max-width: 90% !important;
    }
</style>