[submodule "src/scripts/user-widget"]
	path = src/scripts/user-widget
	url = git@lab.plat.farm:accounts/user-widget.git
[submodule "src/user-widget"]
	path = src/user-widget
	url = git@lab.plat.farm:accounts/user-widget.git
