{
  "presets": [
    "env",
    "es2015",
    "react"    
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "syntax-async-functions",
    "transform-regenerator"
  ]
}