{% extends template.self %}


{% block body %}

{{ super() }}

{# This block doesn't work for some reason. #}

{% endblock %}

{% block style %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="/scripts/user-widget/user-widget.css" />
<link rel="stylesheet" href="/styles/styles.css">

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/scripts/user-widget.js"></script>
<script src="/scripts/user-widget/user-widget.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
<script src="/scripts/user-widget/app.js"></script>
<script src="/scripts/collapsible-menu.js"></script>
<!-- at the end of the BODY -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<!-- at the end of the HEAD -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />

{% endblock %}

{% block javascript %}

{{ super() }}

{# This block doesn't work for some reason. #}

{% endblock %}
