.alert-pshtieredfeature {
  color: var(--alert-font-color);
  background-color: var(--brand-color-light-blue);
  border-color: var(--brand-color-light-blue);
}


.bg-light {
  background-color: #EDEDEF !important;
}

/* Getting Started Guide buttons */
.buttons-nav {
  text-align: center;
  margin: 5rem;
}

.buttons-integrations {
  text-align: left;
  margin: 3rem 3rem;
}

.btn2 {
  border: 0px solid transparent;
  border-radius: 0rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  padding: 1rem 2rem;
  font-size: 1rem;
  line-height: 19px;
  text-align: left;
  color: #1A182A;
  font-family: Overpass Mono;
}


.btn-primary2{
  display: inline-block;
  position: relative;
  cursor: pointer;
  background: linear-gradient(to right, #FFEEEE 0%, #FFEEEE 50px, #FFFFFF 50px);
  z-index: 0;
}


.btn-primary2:hover,.btn-primary2:focus {
  text-decoration: none;
  color: inherit;
}

.btn-primary2::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFBDBB;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.1s;
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.btn-primary2:hover::before {
  transform: scaleX(1);
}

.btn-secondary2{
  display: inline-block;
  position: relative;
  cursor: pointer;
  background: none;
  z-index: 0;

}

.chevron-back {
  transform: rotate(180deg);
}

/* Getting Started Guide descriptive buttons */

.btn {
  padding: 2rem 1.5rem;
}

.btn-primary {
  color: var(--button-text-black);
  background-color: var(--primary);
  border-color: var(--primary);
  border-radius: 0rem;
  border-left: 6px solid var(--brand-color-primary-blue);
}

.btn-primary:hover {
  color: var(--white);
  background-color: var(--brand-color-primary-blue);
  border-color: var(--brand-color-primary-blue);
}

.btn-primary:hover a{
  color: var(--white);
  text-decoration: underline;
}

/* Edit page button */

.btn-ep {
  border: 0px solid transparent;
  border-radius: 0rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  padding: 1rem 2rem;
  font-size: 1rem;
  line-height: 19px;
  text-align: left;
  color: #1A182A;
  font-family: Overpass Mono;
  cursor: pointer;
}

.btn-next{
  display: inline-block;
  position: relative;
  background: linear-gradient(to right, #FFEEEE 0%, #FFEEEE 50px, #FFFFFF 50px);
  z-index: 0;
}

.edit-page {
  margin-bottom: 1.5rem;
}


.edit-page-button {
  background-color: var(--body-background);
  border: 1px solid var(--logo-background);
  color: var(--font-black);
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  font-family: Overpass;
  font-style: normal;
  font-size: 0.5rem !important;
  height: 25px !important;
  line-height: 0.6rem !important;
  /* font-weight: 600;
  font-size: 16px;
  line-height: 20px; */
  display: inline-block;
  cursor: pointer;
}

.edit-page-button:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--font-white);
}

.btn-edit-page {
  float: none;
  border: 0px solid transparent;
  border-radius: 0rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  padding: 0.5rem 0.5rem;
  font-size: 12px;
  /* height: 25px; */
  line-height: 13px;
  text-align: left;
  color: #1A182A;
  font-family: Overpass Mono;
}

/* Sidebar Mobile book links */
@media (min-width: 750px) {
  .mobile-books-sidebar {
    display: none;
  }
}

.report-download {
  text-align: center;
}

.tranparency-table {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Overpass Mono;
  font-size: 14px;
  font-style: normal;
  color: #2D282B;
}

.tranparency-table, .tranparency-table td, .tranparency-table th {
  border: 1px solid #2D282B;
}

.tranparency-table td, .tranparency-table th {
    text-align: center;
}

.tranparency-table th {
  background-color: #EDEDEF;
  font-weight: normal;
}

.tranparency-table td > ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 40px;
}

.width-lg {
  text-align: left !important;
  width: 300px !important;
}

/* Links to console and trial */
.console_links {
  display: none;
}



@media (min-width: 768px) {
  .console_links  {
    float: right;
    margin-right: 30px;
    height: 80px;
    display: block;
    font-size: 0.9rem;
    font-weight: 200;
  }
}
.console_links__wrapper {
  display:flex;
  flex-direction:row;
  height:100%;
  align-items:center;
  cursor:pointer
}

.console_links__login {
  padding: 0 30px;
  margin: 5px 0;
  text-decoration: none;
  color: #fff;
}

.console_links__login:hover,.console_links__login:focus {
  text-decoration: none !important;
  color: #fff;
}

.console_links__free-trial {
  padding:0 15px;
  background:#fff;
  border:none;
  border-radius:4px;
  margin:5px 0;
  color:#1f82e5;
  text-decoration:none;
  height:34px;
  line-height:34px;
  font-weight: 700;
  transition:background-color 0.25s,color 0.25s
}

.console_links__free-trial:hover,.console_links__free-trial:focus{
  text-decoration: none !important;
  background-color:#28d8b2;
  color:#fff
}


/* Region information */
.region-table {
  font-family: Overpass, sans-serif;
  color: #444344;
  border-collapse: collapse;
  border-spacing: 2px;
  table-layout: auto;
}

.region-table tr, .region-table td, .region-table th {
  border: none;
  text-align: center;
}

.region-table tr:not(.region-table-header) {
  border-top: 1px solid #DEE2E6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

@media (min-width: 1200px) {
  .region-table tr:not(.region-table-header) {
    display: table-row;
    margin-bottom: 0;
  }
}

.region-table td, .region-table th {
  width: 100%;
  display: block;
  position: relative;
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  border-bottom: 1px solid #DEE2E6;
}

@media (min-width: 1200px) {
  .region-table td, .region-table th {
    display: table-cell;
    vertical-align: middle;
    border-bottom: none;
    padding: 1rem 0.5rem;
    width: auto;
    position: inherit;

  }
  .region-table th {
    position: sticky;
    z-index: 10;
    padding: 20px 40px 10px;
  }
}

.region-table-header {
  display: none;
}

@media (min-width: 1200px) {
  .region-table-header {
    display: table-row;
  }
}

.region-table-header > th {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}

.region-table h4 {
  padding-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.32;
}

.region-table h4 a {
  color: #444344;;
  scroll-margin-top: 6.5em;
}

.region-overview {
  background: var(--ghost-white);
}

.region-identifier {
  background: white;
}

.region-table ul {
  list-style: none; 
  padding-inline-start: 0 !important;
  margin-bottom: 0;
}

.region-subtable code {
  margin: 0 0 1em 0;
}

.cell-heading {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.875rem;
  background-color: #a7c5ea;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin: 0px 1rem 1rem 0px;
}

@media (min-width: 1200px) {
  .region-table .cell-heading {
    display: none;
    z-index: 10;
    position: sticky;
  }
}

/* code block location labels */
.highlight-location {
  background-color: var(--primary);
  padding: 0.5rem 1rem 0 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  display: inline-block;
}

/* Make unordered lists inside ordered lists stand out */
ol ul {
  list-style-type: disc;
}

/* Keyboard keys */
kbd {
  padding: 0.2rem 0.4rem;
  font-size: 100%;
  color: var(--brand-color-primary-blue);
  background-color: rgba(231, 231, 231, 0.4);
  border-radius: 0.2rem;
  box-shadow: inset 0 -2px 0 var(--primary)
}

/* Code tabs */

.tabs {
  margin-bottom: 1rem;
}

.nav-tabs {
  display: flex;
  border: none;
}

.nav-tabs .nav-items {
  margin: 0;
}

.nav-tabs .nav-link.active,.nav-tabs .nav-link:hover {
  background: white none repeat scroll 0% 0%;
  color: rgb(20, 92, 198);
  box-shadow: rgba(73, 71, 95, 0.1) 0rem 0.062rem 0.25rem;
  padding: 0.25rem 0.5rem;
  border: 0.125rem solid transparent;
}

.nav-tabs .nav-link {
  background-color: white;
  color: rgb(121, 116, 119);
  padding: 0.25rem 0.5rem;
  font-family: Overpass, Arial;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.562;
  cursor: pointer;
  border: 0.125rem solid transparent;
}

.tabs .tab-content {
  padding: 1rem 0.5rem 0rem 0.5rem;
}

#feedbackTable button {
  border: none;
  background: none;
}

#feedbackTable button:not(.secondarySearch):hover, #feedbackTable button:not(.secondarySearch):focus {
  background: var(--primary);
  filter: brightness(0.85);
}

#feedbackTable button.group {
  padding: 1em;
  margin-bottom: 1em;
}

table {
  table-layout: fixed; /* Keep tables inside the content wrapper */
}

/* Styling for variables inside code blocks and such */
var {
  color: var(--brand-color-primary-blue);
  text-decoration: underline var(--brand-color-primary-blue) dotted 2px;
  font-style: italic;
  cursor: help;
}

/* Badge for premium features */
.premium-badge {
  font-size: 0.875rem;
  line-height: 1.532;
  color: #000000;
  background-color: #a7c5ea;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-left: 0.5rem;
}

/* Nested ordered lists should use letters */
ol ol {
  list-style-type: lower-alpha;
}

/* For stacks in Get started section */
.stack-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.stack-wrapper a {
  padding: 1rem;
  box-shadow: -0.125rem -0.125rem 0px 0px inset, 0.125rem 0.125rem 0px 0px inset;
  margin: 0 1rem;
  color: inherit;
  text-decoration: none;
  display: flex;
  font-size: 1.125rem;
}

.stack-wrapper a:hover {
  background-color: #000000;
  color: #ffffff;
}

.stack-picker {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: sticky;
  top: 80px;
  padding-top: 6px;
  background-color: white;
}

.stack-picker li {
  margin: 0 1em;
  border-bottom: 1px solid transparent;
}

.stack-picker li.active, .stack-picker li:hover, .stack-picker li:focus {
  border-bottom: 1px solid currentColor;
}

.stack-picker a {
  display: flex;
  cursor: pointer;
}

/* Style the language logos*/

.stack-wrapper .logo_holder, .stack-picker .logo_holder {
  height: 24px;
  width: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  margin-right: 0.5rem;
}

.stack-wrapper .logo_holder.php, .stack-picker .logo_holder.php {
  background-image: url("/images/logos/php_logo.png");
}

.stack-wrapper a:hover .logo_holder.php {
  background-image: url("/images/logos/php_logo--inverted.png");
}

.stack-wrapper .logo_holder.java, .stack-picker .logo_holder.java {
  background-image: url("/images/logos/java_logo.png");
}

.stack-wrapper a:hover .logo_holder.java {
  background-image: url("/images/logos/java_logo--inverted.png");
}

.stack-wrapper .logo_holder.nodejs, .stack-picker .logo_holder.nodejs {
  background-image: url("/images/logos/nodejs_logo.png");
}

.stack-wrapper .logo_holder.go, .stack-picker .logo_holder.go {
  background-image: url("/images/logos/go_logo.png");
}

.stack-wrapper .logo_holder.python, .stack-picker .logo_holder.python {
  background-image: url("/images/logos/python_logo.png");
}
