.alert-pshtieredfeature {
  color: var(--alert-font-color);
  background-color: var(--brand-color-light-blue);
  border-color: var(--brand-color-light-blue);
}


.bg-light {
  background-color: #EDEDEF !important;
}

.bg-primary-darker {
  background-color: #1A182A;
}

@media (min-width: 768px) {
  .bg-md-primary-darker {
    background-color: #1A182A;
  }
}

/* Getting Started Guide buttons */
.buttons-nav {
  text-align: center;
  margin: 5rem;
}

.buttons-integrations {
  text-align: left;
  margin: 3rem 3rem;
}

.btn2 {
  border: 0px solid transparent;
  border-radius: 0rem;
  font-weight: bold;s
  letter-spacing: 0.05em;
  padding: 1rem 2rem;
  font-size: 1rem;
  line-height: 19px;
  text-align: left;
  color: #1A182A;
  font-family: Overpass Mono;
}


.btn-primary2{
  display: inline-block;
  position: relative;
  cursor: pointer;
  background: linear-gradient(to right, #FFEEEE 0%, #FFEEEE 50px, #FFFFFF 50px);
  z-index: 0;
}

.btn-primary2::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFBDBB;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.1s;
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.btn-primary2:hover::before {
  transform: scaleX(1);
}

.btn-secondary2{
  display: inline-block;
  position: relative;
  cursor: pointer;
  background: none;
  z-index: 0;

}

.chevron-back {
  transform: rotate(180deg);
}

/* Getting Started Guide descriptive buttons */

.btn {
  padding: 2rem 1.5rem;
}

.btn-primary {
  color: var(--button-text-black);
  background-color: var(--primary);
  border-color: var(--primary);
  border-radius: 0rem;
  border-left: 6px solid var(--brand-color-primary-blue);
}

.btn-primary:hover {
  color: var(--white);
  background-color: var(--brand-color-primary-blue);
  border-color: var(--brand-color-primary-blue);
}

.btn-primary:hover a{
  color: var(--white);
  text-decoration: underline;
}

/* Edit page button */

.btn-ep {
  border: 0px solid transparent;
  border-radius: 0rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  padding: 1rem 2rem;
  font-size: 1rem;
  line-height: 19px;
  text-align: left;
  color: #1A182A;
  font-family: Overpass Mono;
  cursor: pointer;
}

.btn-next{
  display: inline-block;
  position: relative;
  background: linear-gradient(to right, #FFEEEE 0%, #FFEEEE 50px, #FFFFFF 50px);
  z-index: 0;
}

.edit-page {
  margin-bottom: 1.5rem;
}


.edit-page-button {
  background-color: var(--body-background);
  border: 1px solid var(--logo-background);
  color: var(--font-black);
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  font-family: Overpass;
  font-style: normal;
  font-size: 0.5rem !important;
  height: 25px !important;
  line-height: 0.6rem !important;
  /* font-weight: 600;
  font-size: 16px;
  line-height: 20px; */
  display: inline-block;
  cursor: pointer;
}

.edit-page-button:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--font-white);
}

.btn-edit-page {
  float: none;
  border: 0px solid transparent;
  border-radius: 0rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  padding: 0.5rem 0.5rem;
  font-size: 12px;
  /* height: 25px; */
  line-height: 13px;
  text-align: left;
  color: #1A182A;
  font-family: Overpass Mono;
}

/* Sidebar Mobile book links */
@media (min-width: 750px) {
  .mobile-books-sidebar {
    display: none;
  }
}


@media (min-width: 825px) {

  /* .duik-sidebar {
    padding: 1rem 0 0 0;
  } */
}

@media (min-width: 1030px) {

  .duik-sidebar {
    padding: 5rem 0 0 0;
  }
}

.report-download {
  text-align: center;
}

.tranparency-table {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Overpass Mono;
  font-size: 14px;
  font-style: normal;
  color: #2D282B;
}

.tranparency-table, .tranparency-table td, .tranparency-table th {
  border: 1px solid #2D282B;
}

.tranparency-table td, .tranparency-table th {
    text-align: center;
}

.tranparency-table th {
  /* background-color: #A9CDF4; */
  background-color: #C4BCC0;
}

.tranparency-table td > ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 40px;
}

.width-lg {
  text-align: left !important;
  width: 300px !important;
}
