@import url("//fonts.googleapis.com/css?family=Open+Sans:400,600");
body {
  padding-top: 78px;
}
body,
.book,
.book-summary {
  font-family: "Gotham SSm A", "Gotham SSm B", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#platform-bar {
  background: #000;
  color: #fff;
  padding: 23px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  min-height: 53px;
  display: flex;
  justify-content: space-between;
}
.branding {
  text-transform: uppercase;
  color: #fff;
  text-align: right;
  background: transparent url("/images/platform-logo.svg") no-repeat 0 0;
  height: 22px;
  width: 105px;
  display: inline-block;
  float: left;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.site-name {
  line-height: 22px;
  padding-left: 12px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  overflow: hidden;
  width: 27px;
  white-space: nowrap;
}
.title-bar {
  padding-left: 10px;
}
.platform-links {
  padding-right: 10px;
  margin-top: -6px;
  margin-bottom: -5px;
}
#user-account .navbar-right a.call-to-action {
  padding: 7px 8px;
}
#user-account ul.logged-in {
  margin-top: -5px;
}
#user-account .logged-in > li > a,
#user-account .nav > li > .user-pic {
  line-height: 38px;
}
.font-settings {
  display: none;
}
.body-inner {
  top: 0;
}
.book-summary {
  color: #000;
  background: #ebebeb;
}
.body-inner,
.page-wrapper {
  overflow: visible;
}
.book-summary a,
ul.summary li.done > a {
  color: #cbcaca;
  border-left: 1px solid #ebebeb;
  padding-left: 15px;
}
.book-summary ul.summary {
  top: 50px;
  padding-top: 40px;
  width: 80%;
  margin: 0 auto;
}
ul.summary li a,
ul.summary li span {
  padding: 8px 12px;
  color: #000;
  line-height: 1em;
}
nav > ul.summary > li > a {
  font-weight: 600;
}
ul.summary li li a,
ul.summary li li span {
  padding: 6px 15px;
}
ul.summary li.active > a,
ul.summary li a:hover {
  color: #00aeef;
}
ul.summary li.active > a {
  border-left: 1px solid #00aeef;
}
ul.summary li ul {
  padding-left: 14px;
}
ul.summary li ul ul {
  padding-left: 14px;
}
.book-summary ul.summary li.header {
  color: #848484;
  padding: 15px 0 10px;
  border-top: 1px solid rgba(0,0,0,.07);
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.1em;
}
.book-summary ul.summary li.header:first-child {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
.book-summary > nav {
  padding-top: 50px;
}
#book-search-input {
  left: -100%;
  position: fixed;
  width: calc(100% - 61px);
  z-index: 2;
  -webkit-transition: left 250ms ease;
  -moz-transition: left 250ms ease;
  -o-transition: left 250ms ease;
  transition: left 250ms ease;
  background: #ebebeb;
  top: 79px;
  padding: 0;
}
.with-summary + #book-search-input {
  left: 0 !important;
}
.book.with-summary .book-summary #book-search-input {
  left: 0;
  padding: 0;
}
#book-search-input input,
#book-search-input input:focus,
#book-search-input input:hover {
  padding: 13px;
}
#book-search-input:before {
  color: #8e8e8e;
  content: "\f002";
  font-family: FontAwesome;
  font-size: 18px;
  line-height: 18px;
  position: absolute;
  top: 16px;
  right: 16px;
}
.algolia-autocomplete {
  width: 100%;
}
.algolia-autocomplete.algolia-autocomplete-left .ds-dropdown-menu {
  margin-left: 10px;
}
/* Override default algolia CSS to make results more responsive. */
.algolia-autocomplete.algolia-autocomplete-left .ds-dropdown-menu,
.algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-],
.algolia-autocomplete .ds-dropdown-menu .ds-suggestions,
.algolia-autocomplete .ds-dropdown-menu .ds-suggestion {
  width: 600px;
  max-width: 100%;
  min-width: auto;
}
.book .book-header .btn {
  color: #757575;
}
.book-header .btn.toggle-summary,
.book-header .btn.fa-edit {
  display: block;
}
.markdown-section {
  font-size: 16px;
  overflow: visible;
}
.markdown-section h1 {
  font-size: 34px;
  font-weight: 300;
  border-bottom: none;
}
.markdown-section h2 {
  font-size: 24px;
  font-weight: 400;
  border-bottom: none;
  padding-top: 50px;
  margin-bottom: 30px;
  margin-top: 0;
}
.markdown-section h2 a.plugin-anchor {
  top: 49px;
}
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6 {
  padding-top: 30px;
  margin-bottom: 20px;
  margin-top: 0;
}
h3 a.plugin-anchor,
h4 a.plugin-anchor,
h5 a.plugin-anchor,
h6 a.plugin-anchor {
  top: 29px;
}
.markdown-section h3 {
  font-size: 20px;
  font-weight: 500;
}
.markdown-section h4 {
  font-size: 18px;
  font-weight: 300;
}
.markdown-section h5 {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
.markdown-section h6 {
  font-size: 14px;
  font-weight: 500;
  color: #666;
}
.markdown-section p,
.markdown-section blockquote,
.markdown-section ul,
.markdown-section ol,
.markdown-section dl,
.markdown-section table,
.markdown-section pre {
  margin-bottom: 30px;
}
section.normal p strong,
.markdown-section blockquote strong,
.markdown-section ul strong,
.markdown-section ol strong,
.markdown-section dl strong,
.markdown-section table strong,
.markdown-section pre strong {
  display: inline-block;
  text-align: center;
  float: none;
  width: auto;
  height: auto;
  margin-right: 0;
  padding-top: 0;
}
.markdown-section code {
  border-radius: 0;
  background: #fdf2f2;
  color: #de1151;
}
.markdown-section pre code {
  color: #333;
}
.markdown-section a code {
  background: #f7f7f7;
  color: #4183c4;
}
.markdown-section hr {
  height: 1px;
}
.markdown-section blockquote {
  color: #333;
  border: none;
  background: #e0f5fd;
  padding: 10px 25px;
}
.markdown-section blockquote p {
  margin-bottom: 10px;
}
.markdown-section blockquote code {
  background: #f7f7f7;
  color: #333;
}
.markdown-section .alert {
  background: #eee;
  border: none;
  border-radius: 0;
  color: #363636;
  position: relative;
  padding: 15px 25px;
}
.markdown-section .alert .quote-label {
  font-size: 12px;
  text-transform: uppercase;
}
.markdown-section .alert .fa-edit {
  display: none;
}
.markdown-section .alert p {
  margin-bottom: 15px;
}
.markdown-section .alert-info {
  background: #e0f5fd;
}
/* Code Tabs */
.codetabs .codetabs-header .tab {
  padding: 3px 14px 5px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  opacity: 1;
  color: #364149;
  position: relative;
  z-index: 2;
  margin-right: 5px;
  border: 1px solid #ddd;
  border-bottom: none;
  margin-bottom: -1px;
  background: #ebebeb;
  border-radius: 3px 3px 0 0;
}
.codetabs .codetabs-header .tab:hover {
  color: #4183c4;
  background: #e5e5e5;
}
.codetabs .codetabs-header .tab.active {
  color: #4183c4;
  border: 1px solid #ddd;
  border-bottom: none;
  margin-bottom: -1px;
  padding: 3px 14px 6px;
  background: #f7f7f7;
}
.codetabs-body .tab pre {
  border: 1px solid #ddd;
}
/* Responsive Fixes */
@media (min-width: 600px) {
  .site-name {
    width: auto;
  }
  .site-name span {
    display: none;
  }
  #book-search-input {
    left: -300px;
    width: 299px;
  }
  .algolia-autocomplete.algolia-autocomplete-left .ds-dropdown-menu,
  .algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-],
  .algolia-autocomplete .ds-dropdown-menu .ds-suggestions,
  .algolia-autocomplete .ds-dropdown-menu .ds-suggestion {
    min-width: 600px;
  }
}
@media (min-width: 768px) {
  .title-bar {
    padding-left: 50px;
  }
  .platform-links {
    padding-right: 50px;
  }
  #platform-bar .site-name {
    font-size: 1.15em;
  }
  #navlink {
    font-size: 1.15em;
  }
  #platform-bar .row {
    padding: 0 50px;
  }
}
@media (min-width: 1240px) {
}
@media (max-width: 1240px) {
  .book .book-body .page-wrapper .page-inner section {
    padding: 15px 30px;
  }
}

section.examples-lists {
  display: flex;
}

section.examples-lists > div {
  margin-right: 1em;
}
