@import url("https://fonts.googleapis.com/css?family=Overpass:300,400,500,700,900");

:root {
  --brand-font: "Overpass";
  --brand-font-mono: "Overpass-mono";
  --brand-color-primary-blue: #145CC6;
  --brand-color-light-blue: #d0def4;
  --brand-font-color-black: #49475F;
  --brand-font-color-dark: #3E3D54;
  --sidebar-bg-color: #EDEDEF;
  --sidebar-bg-logo : #1A182A;
  --button-bg-blue: #145CC6;
  --button-bg-pink: #FFBDBB;
  --button-bg-gold: #DD901A;
}

body {
  --button-link-background-color: var(--button-bg-blue);
  --button-link-background-color-hover: var(--button-bg-pink);
  --button-link-color: #ffffff;
}

body {
  padding-top: 78px;
}
body,
.book,
.book-summary {
  font-family: "Overpass", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*****************
TOP BAR
**********************/
#platform-bar {
  background: #302F45;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  min-height: 53px;
}
.branding {
  float: left;
  white-space: nowrap;
  overflow: hidden;
  width: 75%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: var(--sidebar-bg-logo);
  padding-left: 30px;
}

@media (min-width: 600px) {
  .branding {
    width: 300px;
  }
}
.branding a {
  height: 30px;
}
.branding a path{
  fill: #fff;
}
.site-name {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 600px) {
  .site-name {
    float: left;
    padding-left: 30px;
  }
}

.site-name a {
  font-size: 24px;
  line-height: 40px;
  font-weight: 900;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .site-name .title {
    display: none;
  }
}
@media (min-width: 600px) {
  .site-name .fa {
    display: none;
  }
}
@media (min-width: 768px) {
  #platform-bar .site-name {
    font-size: 1.15em;
  }
}

/*****************
USER WIDGEGT
**********************/
#user-widget {
  display: none;
}
@media (min-width: 768px) {
  #user-widget {
    float: right;
    margin-right: 30px;
    height: 80px;
    display: block;
  }
}
.user-widget>div {
  min-height: 32px;
}
.user-widget__dropdown__menu--account,
.user-widget__dropdown__menu--projects,
.user-widget__mega_menu {
  position: absolute;
}
.platform-links {
  padding-right: 10px;
  margin-top: -6px;
  margin-bottom: -5px;
}
#user-account .navbar-right a.call-to-action {
  padding: 7px 8px;
}
#user-account ul.logged-in {
  margin-top: -5px;
}
#user-account .logged-in > li > a,
#user-account .nav > li > .user-pic {
  line-height: 38px;
}


/*****************
SIDEBAR
**********************/
.font-settings {
  display: none;
}
.body-inner {
  top: 0;
}
.book-summary {
  color: var(--brand-font-color-dark);
  background: var(--sidebar-bg-color);
}
.body-inner,
.page-wrapper {
  overflow: visible;
}
.book-summary a,
ul.summary li.done > a {
  color: #cbcaca;
  border-left: 1px solid #ebebeb;
  padding-left: 15px;
}
.book-summary ul.summary {
  top: 50px;
  padding-top: 40px;
  width: 80%;
  margin: 0 auto;
}
ul.summary li a,
ul.summary li span {
  padding: 10px 0px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--brand-font-color-dark);
}
nav > ul.summary > li > a {
  font-weight: 600;
}

.book-summary ul.summary li.active > a,
.book-summary ul.summary li a:hover {
  color: var(--brand-color-primary-blue);
}
.book-summary ul.summary li.active > a {
  border-left: 10px solid var(--brand-color-primary-blue);
  margin-left: -30px;
  padding-left: 30px;
}

.book-summary ul.summary li a {
  padding: 5px 0 5px 10px;
}
.book-summary ul.summary li.header {
  color: var(--brand-font-color-black);
  padding: 20px 0 10px;
  border-top: 1px solid #ffffff;
  margin-top: 10px;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 18px;
}
.book-summary ul.summary li.header:first-child {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}

/* sub list styles */
ul.summary li ul {
  padding-left: 14px;
}
ul.summary li ul ul {
  padding-left: 14px;
}
ul.summary li li a,
ul.summary li li span {
  padding: 10px 15px;
}
.book-summary ul.summary li li.active > a {
  margin-left: -50px;
  padding-left: 50px;
}
/* nav styles */
.book-summary > nav {
  padding-top: 70px;
}

/* search field */
#book-search-input {
  left: -100%;
  position: fixed;
  width: calc(100% - 61px);
  z-index: 2;
  -webkit-transition: left 250ms ease;
  -moz-transition: left 250ms ease;
  -o-transition: left 250ms ease;
  transition: left 250ms ease;
  background: #ebebeb;
  top: 79px;
  padding: 0;
  border-bottom: none;
}
.with-summary + #book-search-input {
  left: 0 !important;
}
.book.with-summary .book-summary #book-search-input {
  left: 0;
  padding: 0;
}
#book-search-input input,
#book-search-input input:focus,
#book-search-input input:hover {
  padding: 20px 20px 20px 50px;
  background-color: #ffffff;
}
#book-search-input:before {
  color: var(--brand-color-primary-blue);
  content: "\f002";
  font-family: FontAwesome;
  font-size: 18px;
  line-height: 18px;
  position: absolute;
  top: 35px;
  left: 30px;
  z-index: 30;
}
.algolia-autocomplete {
  width: 100%;
}
.algolia-autocomplete.algolia-autocomplete-left .ds-dropdown-menu {
  margin-left: 10px;
}
/* Override default algolia CSS to make results more responsive. */
.algolia-autocomplete.algolia-autocomplete-left .ds-dropdown-menu,
.algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-],
.algolia-autocomplete .ds-dropdown-menu .ds-suggestions,
.algolia-autocomplete .ds-dropdown-menu .ds-suggestion {
  width: 600px;
  max-width: 100%;
  min-width: auto;
}
/* Responsive Fixes */
@media (min-width: 600px) {
  #book-search-input {
    left: -300px;
    width: 300px;
    padding: 10px;
  }
  .algolia-autocomplete.algolia-autocomplete-left .ds-dropdown-menu,
  .algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-],
  .algolia-autocomplete .ds-dropdown-menu .ds-suggestions,
  .algolia-autocomplete .ds-dropdown-menu .ds-suggestion {
    min-width: 600px;
  }
}


/*****************
Documentation
**********************/
.book .book-header .btn {
  color: #757575;
}
.book-header .btn.toggle-summary,
.book-header .btn.fa-edit {
  display: block;
}
.markdown-section {
  font-size: 16px;
  overflow: visible;
}
.markdown-section h1 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 900;
  border-bottom: none;
}
.markdown-section h2 {
  font-size: 20px;
  font-weight: 900;
  border-bottom: none;
  padding-top: 50px;
  margin-bottom: 30px;
  margin-top: 0;
}
.markdown-section h2 a.plugin-anchor {
  top: 49px;
}
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6 {
  padding-top: 30px;
  margin-bottom: 20px;
  margin-top: 0;
}
h3 a.plugin-anchor,
h4 a.plugin-anchor,
h5 a.plugin-anchor,
h6 a.plugin-anchor {
  top: 29px;
}
.markdown-section h3 {
  font-size: 20px;
  font-weight: 500;
}
.markdown-section h4 {
  font-size: 18px;
  font-weight: 300;
}
.markdown-section h5 {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
.markdown-section h6 {
  font-size: 14px;
  font-weight: 500;
  color: #666;
}
.markdown-section p,
.markdown-section blockquote,
.markdown-section ul,
.markdown-section ol,
.markdown-section dl,
.markdown-section table,
.markdown-section pre {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.5;
}
section.normal p strong,
.markdown-section blockquote strong,
.markdown-section ul strong,
.markdown-section ol strong,
.markdown-section dl strong,
.markdown-section table strong,
.markdown-section pre strong {
  display: inline-block;
  text-align: center;
  float: none;
  width: auto;
  height: auto;
  margin-right: 0;
  padding-top: 0;
}
.markdown-section code {
  border-radius: 0;
  background: #fdf2f2;
  color: #de1151;
}
.markdown-section pre code {
  color: #333;
}
.markdown-section a code {
  background: #f7f7f7;
  color: #4183c4;
}
.markdown-section hr {
  height: 1px;
}
.markdown-section blockquote {
  color: #333;
  border: none;
  background: #e0f5fd;
  padding: 10px 25px;
}
.markdown-section blockquote p {
  margin-bottom: 10px;
}
.markdown-section blockquote code {
  background: #f7f7f7;
  color: #333;
}
.markdown-section .alert {
  background: #eee;
  border: none;
  border-radius: 0;
  color: #363636;
  position: relative;
  padding: 15px 25px;
}
.markdown-section .alert .quote-label {
  font-size: 12px;
  text-transform: uppercase;
}
.markdown-section .alert .fa-edit {
  display: none;
}
.markdown-section .alert p {
  margin-bottom: 15px;
}
.markdown-section .alert-info {
  background: #e0f5fd;
}
/* Code Tabs */
.codetabs .codetabs-header .tab {
  padding: 3px 14px 5px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  opacity: 1;
  color: #364149;
  position: relative;
  z-index: 2;
  margin-right: 5px;
  border: 1px solid #ddd;
  border-bottom: none;
  margin-bottom: -1px;
  background: #ebebeb;
  border-radius: 3px 3px 0 0;
}
.codetabs .codetabs-header .tab:hover {
  color: #4183c4;
  background: #e5e5e5;
}
.codetabs .codetabs-header .tab.active {
  color: #4183c4;
  border: 1px solid #ddd;
  border-bottom: none;
  margin-bottom: -1px;
  padding: 3px 14px 6px;
  background: #f7f7f7;
}
.codetabs-body .tab pre {
  border: 1px solid #ddd;
}
.user-widget__user_name {
  display: none;
}

@media (max-width: 768px) {
  .user-widget__mega_menu__projects {
    padding-top: 20px;
  }
}
@media (min-width: 768px) {

  .platform-links {
    padding-right: 50px;
  }
  #navlink {
    font-size: 1.15em;
  }
  #platform-bar .row {
    padding: 0 50px;
  }
}
@media (min-width: 1240px) {
}
@media (max-width: 1240px) {
  .book .book-body .page-wrapper .page-inner section {
    padding: 15px 30px;
  }
}

section.examples-lists {
  display: flex;
}

section.examples-lists > div {
  margin-right: 1em;
}

.codetabs-body pre {
  max-height: 30em;
  overflow: scroll;
}

/* Button-styled links */

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: default;
}

a.button-link {
  font-size: 16px;
  border: none;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none !important;
  margin: 10px 5px;
  padding: 24px 24px;
  display: inline-flex;
}

a.button-link.singleprev {
  background-color: var(--button-link-background-color-hover);
  color: var(--button-bg-blue);
  font-weight: 600;
  width: 50%;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

a.button-link.singleprev:hover {
  border: none;
  color: var(--button-link-color);
  background-color: var(--button-link-background-color);
}

a.button-link.prev {
  background-color: var(--button-link-background-color-hover);
  color: var(--button-bg-blue);
  width: 25%;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

a.button-link.prev:hover {
  border: none;
  color: var(--button-link-color);
  background-color: var(--button-link-background-color);
}

a.button-link.basic {
  color: var(--button-link-color);
  background-color: var(--button-link-background-color);
  flex-grow: 1;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

a.button-link.basic:hover {
  background-color: var(--button-link-background-color-hover);
  border: none;
  color: var(--button-bg-blue);
}

a.button-link.single {
  color: var(--button-link-color);
  background-color: var(--button-link-background-color);
  font-weight: 600;
  width: 50%;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

a.button-link.single:hover {
  background-color: var(--button-link-background-color-hover);
  border: none;
  color: var(--button-bg-blue);
}

a.button-link.next {
  color: var(--button-link-color);
  background-color: var(--button-link-background-color);
  flex-grow: 1;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

a.button-link.next:hover {
  background-color: var(--button-link-background-color-hover);
  border: none;
  color: var(--button-bg-blue);
}

a.button-link.descriptive {
  color: var(--button-link-color);
  background-color: var(--button-link-background-color);
  flex-grow: 1;
  flex-direction: column;
}

a.button-link.descriptive:hover {
  background-color: var(--button-link-background-color-hover);
  border: none;
  color: var(--button-bg-blue);
}

video {
  object-fit: initial;
  width: 100%;
}

.navigation {
  min-width: 60px;
}
.navigation .fa {
  color: var(--brand-color-primary-blue);
  padding: 10px;
  background-color: var(--sidebar-bg-color);
}
