# Basics
baseURL: /
title: Platform.sh Docs
author: Platform.sh
description: Platform.sh User Documentation

# Themes
theme: psh-docs

uglyurls: true
pygmentsUseClasses: true

# Language settings
languages:
  en:
    languageName: English
    weight: 10

disableKinds: ["taxonomy", "taxonomyTerm"]

summaryLength: 3

outputs:
    home: 
      - HTML
      - JSON
      - RSS
    section:
      - HTML
      - RSS

markup:
    goldmark:
        renderer:
            unsafe: true

module:
    mounts:
        - source: "node_modules/mermaid/dist"
          target: "static/mermaid"
        - source: "node_modules/asciinema-player/dist/bundle"
          target: "static/asciinema"
        - source: "node_modules/alpinejs/dist"
          target: "static/alpinejs"
        - source: "src"
          target: "content"
          lang: "en"
        - source: "static"
          target: "static"


security:
  funcs:
    getenv:
    - ^GITHUB_
    - ^HUGO_HEAP_ID
  http:
    methods: none
