<!-- shortcode start {{ .Name }} -->
{{ $isSymfony := eq ( .Get "name" ) "Symfony" }}
{{ $cliCommand := `{{% vendor/cli %}}` | .Page.RenderString }}
{{ if $isSymfony }}
  {{ $cliCommand = "symfony" }}
{{ end }}
<p>You can start with a basic code base or push a pre-existing project to {{ .Site.Params.vendor.name }}.</p>

<ol>
    <li>
        <p>Create your first project by running the following command:</p>

        <div class="highlight"><pre class="chroma"><code class="language-bash" data-lang="bash">{{  print $cliCommand ` create \-\-title {{< variable "PROJECT_TITLE" >}}`  | .Page.RenderString }}</code></pre></div>

        <p>Then choose the region you want to deploy to, such as the one closest to your site visitors.
        You can also select more resources for your project through additional flags,
        but a Development plan should be enough for you to get started.</p>

        <p>Copy the ID of the project you've created.</p>
    </li>
    <li>
        <p>Get your code ready locally.</p>

        <p>If your code lives in a remote repository, clone it to your computer.</p>

        <p>If your code isn't in a Git repository, initialize it by running <code>git init</code>.</p>
        {{ .Inner | .Page.RenderString }}</li>
    <li>
        <p>Connect your {{ .Site.Params.vendor.name }} project with Git.
        You can use {{ .Site.Params.vendor.name }} as your Git repository or connect to a third-party provider:
        GitHub, GitLab, or BitBucket.
        </p>

{{ $titleName := .Site.Params.vendor.name }}
{{ if $isSymfony }}
    {{ $titleName = "the Symfony CLI" }}
{{ end }}
{{ $inner := print `
+++
title=Using ` $titleName `
+++

Add a Git remote for the ` .Site.Params.vendor.name ` project you just created
by running the following command from your repository:

<div class="highlight"><pre class="chroma"><code class="language-bash" data-lang="bash">` $cliCommand ` project:set-remote {{< variable "PROJECT_ID" >}}</code></pre></div>

That creates an upstream called <code>` $cliCommand `</code> for your Git repository.

<--->
+++
title=Using a third-party provider
+++

When you choose to use a third-party Git hosting service
the ` .Site.Params.vendor.name ` Git repository becomes a read-only mirror of the third-party repository.
All your changes take place in the third-party repository.

Add an integration to your existing third party repository.

The process varies a bit for each supported service, so check the specific pages for each one.

- [BitBucket](/integrations/source/bitbucket.md)
- [GitHub](/integrations/source/github.md)
- [GitLab](/integrations/source/gitlab.md)

Accept the default options or modify to fit your needs.

All of your existing branches are automatically synchronized to ` .Site.Params.vendor.name `.
You get a deploy failure message because you haven't provided configuration files yet.
You add them in the next step.

If you're integrating a repository to ` .Site.Params.vendor.name ` that contains a number of open pull requests,
don't use the default integration options.
Projects are limited to three\* preview environments (active and deployed branches or pull requests)
and you would need to deactivate them individually to test this guide's migration changes.
Instead, each service integration should be made with the following flag:

<div class="highlight"><pre class="chroma"><code class="language-bash" data-lang="bash">` $cliCommand ` integration:add --type=&lt;service&gt; ... --build-pull-requests=false
</code></pre></div>

You can then go through this guide and activate the environment when you're ready to deploy

\* You can purchase additional preview environments at any time in the Console.
Open your project and select **Edit plan**.
Add additional **Environments**, view a cost estimate, and confirm your changes.
` }}
{{ partial "codetabs/tabs" (dict "Inner" $inner "Page" .Page ) }}
</li>
</ol>

<p>Now you have a local Git repository, a {{ .Site.Params.vendor.name }} project, and a way to push code to that project. Next you can configure your project to work with {{ .Site.Params.vendor.name }}.</p>
<!-- shortcode end {{ .Name }} -->
