https://{default}/:
  type: upstream
  upstream: docs:http
  cache:
    enabled: true
  ssi:
    enabled: false
  redirects:
    paths:
      # Getting Started Restructure June 2019
      "/gettingstarted/tools.html": { "to": "/development/tools.html", "code": 301, "prefix": false}
      "/gettingstarted/cli.html": { "to": "/development/cli.html", "code": 301, "prefix": false}
      "/gettingstarted/cli/api-tokens.html": { "to": "/development/cli/api-tokens.html", "code": 301, "prefix": false}
      "/gettingstarted/local.html": { "to": "/development/local.html", "code": 301, "prefix": false}
      "/gettingstarted/local/tethered.html": { "to": "/development/local/tethered.html", "code": 301, "prefix": false}
      "/gettingstarted/local/untethered.html": { "to": "/development/local/untethered.html", "code": 301, "prefix": false}
      "/gettingstarted/local/lando.html": { "to": "/development/local/lando.html", "code": 301, "prefix": false}
      "/gettingstarted/local/docksal.html": { "to": "/development/local/docksal.html", "code": 301, "prefix": false}
      "/gettingstarted/first-project.html": { "to": "/gettingstarted/template.html", "code": 301, "prefix": false}

      # Renamed in August 2019.
      "/administration/snapshot-and-restore.html": { "to": "/administration/backup-and-restore.html", "code": 301, "prefix": false}

      # Reorganized in May 2020
      "/administration/integrations.html": { "to": "/integrations/overview.html", "code": 301, "prefix": false }
      "/administration/integrations/bitbucket.html": { "to": "/integrations/source/bitbucket.html", "code": 301, "prefix": false }
      "/administration/integrations/blackfire.html": { "to": "/integrations/profiling/blackfire.html", "code": 301, "prefix": false }
      "/administration/integrations/tideways.html": { "to": "/integrations/profiling/tideways.html", "code": 301, "prefix": false }
      "/administration/integrations/notifications.html": { "to": "/integrations/notifications.html", "code": 301, "prefix": false }
      "/administration/integrations/new-relic.html": { "to": "/integrations/profiling/new-relic.html", "code": 301, "prefix": false }
      "/administration/integrations/github.html": { "to": "/integrations/source/github.html", "code": 301, "prefix": false }
      "/administration/integrations/gitlab.html": { "to": "/integrations/source/gitlab.html", "code": 301, "prefix": false }
      "/administration/integrations/hipchat.html": { "to": "/integrations/activity/hipchat.html", "code": 301, "prefix": false }
      "/administration/integrations/webhooks.html": { "to": "/integrations/activity/webhooks.html", "code": 301, "prefix": false }
      "/administration/integrations/activity-scripts.html": { "to": "/integrations/activity.html", "code": 301, "prefix": false }

      # Reorganized August 2020
      "^/gettingstarted/gettingstarted(.*)": { "to": "/gettingstarted/introduction$1", "code": 301, "regexp": true }
      # Reorganized September 2020
      "/golive/steps/dns.html": { "to": "/domains/steps/dns.html", "code": 301, "prefix": false}
      "/golive/steps/subdomains.html": { "to": "/domains/steps/subdomains.html", "code": 301, "prefix": false}
      # Framework Guides reorganization October 2020
      # PR 1553
      "/tutorials/region-migration.html": { "to": "/guides/general/region-migration.html", "code": 301, "prefix": false }
      "/tutorials/mysql-replication.html": { "to": "/guides/general/mysql-replication.html", "code": 301, "prefix": false }
      # PR 1560
      "/frameworks/drupal8.html": { "to": "/guides/drupal9/deploy.html", "code": 301, "prefix": false }
      "/frameworks/drupal8/developing-with-drupal.html": { "to": "/guides/drupal9/deploy.html", "code": 301, "prefix": false }
      "/frameworks/drupal8/drush.html": { "to": "/guides/drupal9/deploy/next-steps.html#use-drush-aliases", "code": 301, "prefix": false }
      "/frameworks/drupal8/elasticsearch.html": { "to": "/guides/drupal9/deploy/elasticsearch.html", "code": 301, "prefix": false }
      "/frameworks/drupal8/faq.html": { "to": "/guides/drupal9/deploy/faq.html", "code": 301, "prefix": false }
      "/frameworks/drupal8/lando.html": { "to": "/development/local/lando.html", "code": 301, "prefix": false }
      "/frameworks/drupal8/memcached.html": { "to": "/guides/drupal9/deploy/memcached.html", "code": 301, "prefix": false }
      "/frameworks/drupal8/multi-site.html": { "to": /guides/drupal9/deploy/multi-site.html", "code": 301, "prefix": false }
      "/frameworks/drupal8/redis.html": { "to": "/guides/drupal9/deploy/redis.html", "code": 301, "prefix": false }
      "/frameworks/drupal8/simplesaml.html": { "to": "/guides/drupal9/deploy/simplesaml.html", "code": 301, "prefix": false }
      "/frameworks/drupal8/solr.html": { "to": "/guides/drupal9/deploy/solr.html", "code": 301, "prefix": false }
      # PR 1562
      "/frameworks/typo3.html": { "to": "/guides/typo3/deloy.html", "code": 301, "prefix": false }
      "/frameworks/typo3/faq.html": { "to": "/guides/typo3/deploy/next-steps.html", "code": 301, "prefix": false }
      # PR 1602
      "/frameworks/wordpress.html": { "to": "/guides/wordpress/deploy.html", "code": 301, "prefix": false }
      "/frameworks/wordpress/redis.html": { "to": "/guides/wordpress/redis.html", "code": 301, "prefix": false }
      # Redirect requests ending in a slash to have a .html suffix
      "^\/([^.]*)\/$": { "to": '/$1.html', "regexp": true }

      # PR 1897 + PR 2054
      "/integrations/profiling.html": { "to": "/increase-observability/integrate-observability.html", "code": 301, "prefix": false }
      "/integrations/profiling/blackfire.html": { "to": "/increase-observability/integrate-observability/blackfire.html", "code": 301, "prefix": false }
      "/integrations/profiling/new-relic.html": { "to": "/increase-observability/integrate-observability/new-relic.html", "code": 301, "prefix": false }
      "/integrations/profiling/new-relic/java.html": { "to": "/increase-observability/integrate-observability/new-relic/java.html", "code": 301, "prefix": false }
      "/integrations/profiling/new-relic/nodejs.html": { "to": "/increase-observability/integrate-observability/new-relic/nodejs.html", "code": 301, "prefix": false }
      "/integrations/profiling/new-relic/php.html": { "to": "/increase-observability/integrate-observability/new-relic/php.html", "code": 301, "prefix": false }
      "/integrations/profiling/tideways.html": { "to": "/increase-observability/integrate-observability/tideways.html", "code": 301, "prefix": false }

      # PR 1963
      "/overview/getting-help.html": { "to": "/overview/get-support.html", "code": 301, "prefix": false }

      # PR 2054
      "/dedicated/architecture/metrics.html": { "to": "/increase-observability/metrics.html", "code": 301, "prefix": false }

      # Restructure of variables
      "/bestpractices/environment-build.html": { "to": "/development/variables.html", "code": 301, "prefix": false }

      # Drupal 7 EOL
      "/frameworks/drupal7.*": { "to": "/guides/drupal9/deploy.html", "code": 301, "regexp": true }

      # Removal of featured frameworks
      "/frameworks/(?!deploy|drupal)(.*).html":  { "to": "/guides/$1/deploy.html", "code": 301, "regexp": true }
      "/frameworks/ibexa/fastly.html":  { "to": "/guides/ibexa/fastly.html", "code": 301, "prefix": false }

      "/configuration/app/web.html#how-can-i-rewrite-an-incoming-request-without-a-redirect":   { "to": "/create-apps/web/rewrite-requests.html", "code": 301, "prefix": false }
      
      # Navigation restructure in April 2021
      "/configuration/app-containers.html": { "to": "/create-apps/app-reference.html", "code": 301, "prefix": false }
      "/configuration/app/access.html": { "to": "/create-apps/app-reference.html#access", "code": 301, "prefix": false }
      "/configuration/app/build.html": { "to": "/create-apps/app-reference.html", "code": 301, "prefix": false }
      "/configuration/app/cron.html": { "to": "/create-apps/app-reference.html#crons", "code": 301, "prefix": false }
      "/configuration/app/firewall.html": { "to": "/create-apps/app-reference.html#firewall", "code": 301, "prefix": false }
      "/configuration/app/name.html": { "to": "/create-apps/app-reference.html", "code": 301, "prefix": false }
      "/configuration/app/relationships.html": { "to": "/create-apps/app-reference.html#relationships", "code": 301, "prefix": false }
      "/configuration/app/size.html": { "to": "/create-apps/app-reference.html#sizes", "code": 301, "prefix": false }
      "/configuration/app/storage.html": { "to": "/create-apps/app-reference.html", "code": 301, "prefix": false }
      "/configuration/app/type.html": { "to": "/create-apps/app-reference.html#types", "code": 301, "prefix": false }
      "/configuration/app/variables.html": { "to": "/create-apps/app-reference.html#variables", "code": 301, "prefix": false }
      "/configuration/app(.*)":  { "to": "/create-apps$1", "code": 301, "regexp": true }
      "/configuration/services(.*)":  { "to": "/add-services$1", "code": 301, "regexp": true }
      "/configuration/routes(.*)":  { "to": "/define-routes$1", "code": 301, "regexp": true }
      "/overview/environments(.*)":  { "to": "/environments$1", "code": 301, "regexp": true }
      "/overview/projects(.*)":  { "to": "/projects$1", "code": 301, "regexp": true }

      # Changelog removal in June 2022 (link updated in August)
      "/other/changelog.html": { "to": "https://next.platform.sh/", "code": 301 }

      # Move CLI from Development to Administration in August 2022
      "/development/cli(.*)":  { "to": "/administration/cli$1", "code": 301, "regexp": true }

      # New onboarding in 2022
      "/gettingstarted(.*)": { "to": "/get-started.html", "code": 301, "regexp": true}

      # Move pricing to Administration in October 2022
      "/overview/pricing(.*)":  { "to": "/administration/pricing$1", "code": 301, "regexp": true }

      # Move backup and restore to environments in October 2022
      "/administration/backup-and-restore.html":  { "to": "/environments/backup.html", "code": 301 }

"https://search.{default}/":
    type: upstream
    upstream: "search:http"
    id: "search"
