<table>
  <tr>
    <th>Service</th>
    <th>Supported versions</th>
  </tr>
  {{- range $image, $info := .Site.Data.registry -}}
    <!-- Skip persistent Redis and MySQL to avoid duplication, skip Elasticsearch as no supported versions atm -->
    {{- if and (isset $info "versions-dedicated-gen-3") (ne $image "redis-persistent") (ne $image "mysql") (ne $image "elasticsearch") -}}
      {{- $label :=  index $info "name" -}}
      {{- $versions := index ( index $info "versions-dedicated-gen-3") "supported" -}}
      {{- $docs_link := index (index $info "docs") "url" -}}
      <tr>
        <td><a href="{{ $docs_link }}">{{ $label }}</a></td>
        <td>
          {{- $service_versions := "" -}}
          {{- range $versions -}}
            {{- if eq ( len $service_versions ) 0 -}}
              {{- $service_versions = printf "%s%s" $service_versions . -}}
            {{- else -}}
              {{- $service_versions = printf "%s, %s" $service_versions . -}}
            {{- end -}}
          {{- end -}}
          {{ $service_versions }}
        </td>                                                                                                                                                                                                                                                                                                                                                                          </td>
      </tr>
    {{- end -}}
  {{- end -}}
</table>
