<table>

  <tr>
    <th>Phase</th>
    <th>Meetings</th>
    <th>Description</th>
  </tr>

  <tr>
    <td>Setup</td>

    <td>
      <ul>
        <li>Introduction</li>
        <li>Hand-off</li>
        <ul>
    </td>

    <td>
      <p>The Solutions Engineer briefly reviews the development workflow that was discussed during the sales process. A
        dedicated Slack channel for your team’s onboarding process will be set up and members of your team invited. This
        will allow for a quicker feedback loop during the onboarding process.</p>
      <p>The Solutions Engineer will introduce you to the Platform Dedicated workflow process, provision resources, and
        hand them off to the client.</p>
    </td>
  <tr>


  <tr>
    <td>Development</td>

    <td>
      <ul>
        <li>Developer Workflow Consultation</li>
        <ul>
    </td>

    <td>
      <p>The customer has access to all the resources necessary to develop, migrate, and test the project on the
        {{ .Site.Params.vendor.name }} infrastructure - development, staging, and production. If necessary, developers may request an
        additional training session (held by the Solutions Engineer) to discuss the development workflow and best
        practices in detail.</p>
      <p>Once the application is live on your staging environment, a staging CDN distribution will be created so that
        proper configuration of your CDN can begin.</p>
    </td>
  <tr>

  <tr>
    <td>Go-Live</td>

    <td>
      <ul>
        <li>Pre-launch</li>
        <li>Debrief</li>
        <ul>
    </td>

    <td>
      <p>Customer notifies their Solutions Engineer through a [support ticket](/learn/overview/get-support) of the intention to go live. The Solutions
        Engineer may also reach out to the customer a few days before the approximate cut-over date if one was provided.
        The Solutions Engineer reviews the infrastructure, notes any risks, and discusses the go live process.</p>
      <p>The production configuration of your CDN will be created with the configuration mirroring that of your staging
        distribution, and will be configured to pull from your production environment.</p>
    </td>
  <tr>

</table>