<!-- INDIVIDUAL REGION TABLE SHORTCODE -->
{{ $region := .Get "region" }}
{{ $data := index $.Site.Data.regions $region }}
<!-- Main region table -->
<table class="table-auto text-center" style="max-width: calc(100vw - 2rem);">
    <tbody>
        <!-- Header -->
        <tr class="hidden md:table-row [&_th]:px-6 [&_th]:py-5 md:sticky md:top-24 md:z-20">
            <th>Region</th>
            <th>Provider</th>
            <th>Available to new orgs</th>
            <th>Outbound IPs</th>
            <th>Inbound IPs</th>
        </tr>
        <!-- List individual regions -->
        {{ range sort ( sort $data "label" "asc" ) "available" "desc" }}
        <!-- Give the region a row -->
        <tr class="flex wrap flex-col mb-6 border-t border-slate md:table-row [&>td]:align-middle [&_ul]:!my-2">
            <!-- Region overview -->
            <td class="relative block md:table-cell py-4 px-2 bg-stone">
                <span class="md:hidden z-10 absolute rounded tx-sm top-0 left-0 p-2 bg-skye-light">Region</span>
                <!-- Name, region identifier -->
                {{ $regionAnchor := anchorize ( printf "%s %s" .name .label ) }}
                <h4 class="font-black !text-2xl !mt-4">
                    <a href="#{{ $regionAnchor }}" id="{{ $regionAnchor }}" aria-label="Anchor" class="text-ebony scroll-mt-32 md:scroll-mt-56">{{ .name }}</a>
                </h4>
                <code class="!bg-snow">{{ printf "%s" .label}}.platform.sh</code>
            </td>
            <!-- Provider -->
            <td class="relative block md:table-cell p-6 pt-10">
                <span class="md:hidden z-10 absolute rounded tx-sm top-0 left-0 p-2 bg-skye-light">Provider</span>
                {{ .provider }}
            </td>
            <td class="relative block md:table-cell p-6 pt-10">
                <span class="md:hidden z-10 absolute rounded tx-sm top-0 left-0 p-2 bg-skye-light">Available to new orgs</span>
                {{ if .available }}✅{{ end }}
            </td>
            <!-- Outbound ips -->
            <td class="relative block md:table-cell p-6 pt-10 z-10 bg-snow">
                <span class="md:hidden z-10 absolute rounded tx-sm top-0 left-0 p-2 bg-skye-light">Outbound ips</span>
                <ul>
                    {{ range .outbound_ips }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </td>
            <!-- Inbound ips -->
            <td class="relative block md:table-cell p-6 pt-10 z-10 bg-snow">
                <span class="md:hidden z-10 absolute rounded tx-sm top-0 left-0 p-2 bg-skye-light">Inbound ips</span>
                <code>{{ printf "%s.%s" .inbound_location $.Site.Params.vendor.urls.hostname }}</code>

                <ul>
                    {{ range .inbound_ips }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>