@import "https://fonts.googleapis.com/css?family=Open+Sans:400,700";
@import url("https://fonts.googleapis.com/css?family=Overpass:300,400,500,700,900");
.searchContainer {
    /* position: fixed; */
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Overpass";
    font-size:12px !important;
    line-height: 22px !important;
    /* left:20px;
    top: 120px; */
    list-style: none;
    z-index: 9999;
    margin: 1rem;
    background: white;
}
.suggestions div.hits ul  em {
	 background-color: rgb(255, 205, 210);
     font-style: normal;
}
.suggestions div.hits ul h5 {
	 border-bottom: 1px solid #ddd;
	 padding: 4px 0px 4px 0px;
     margin: 2px;
     display:block;
}
.suggestions div.hits ul li {
	 padding: 0px 0px 6px 6px;

}
.suggestions div.hits ul a {
	 text-decoration: none;
}
.suggestions div.hits ul a:link {
	 color: #00e;
}
.suggestions div.hits ul a:hover {
	 text-decoration: underline;
}
.suggestions div.hits ul a:visited {
	 color: #00e;
}
.suggestions div.hits {display:inline-block;}

.suggestions {width: 800px;}
.suggestions .section {display:inline-block;width:180px;font-family: "Overpass"; vertical-align:middle;}
.suggestions .hits {width:400px;display:inline-block;width:100%;font-family: "Overpass"; vertical-align:middle;}

div.suggestions  div > ul > li {
    list-style-type: none;
    list-style-position: none;}
