# Basics
baseURL: /
title: Upsun documentation
author: Upsun
description: Upsun User Documentation

# Themes
theme: psh-docs
themesdir: '../../themes'

uglyurls: true
pygmentsUseClasses: true

# Language settings
languages:
  en:
    languageName: English
    weight: 10

disableKinds: ["taxonomy", "taxonomyTerm"]

baseURL: "https://docs.upsun.com"

summaryLength: 3

outputs:
    home:
      - HTML
      - JSON
      - RSS
    section:
      - HTML
      - RSS

markup:
    goldmark:
        renderer:
            unsafe: true

module:
    _merge: deep
    mounts:
        - source: "node_modules/mermaid/dist"
          target: "static/mermaid"
        - source: "node_modules/asciinema-player/dist/bundle"
          target: "static/asciinema"
        - source: "node_modules/alpinejs/dist"
          target: "static/alpinejs"

        - source: "../../shared/data"
          target: "data"

        - source: "../platform/src"
          target: "content"
          excludeFiles:
              - "registry/*"
              - "get-started/*"
              - "development/transfer-dedicated.md"
              - "add-services/network-storage.md"
              - "administration/sso.md"
              - "administration/teams.md"
              - "administration/pricing/*"
              - "increase-observability/logs/forward-fastly-logs.md"
              - "increase-observability/integrate-observability/*"
              - "increase-observability/metrics/grid.md"
              - "increase-observability/metrics/dedicated.md"
              - "increase-observability/metrics/dedicated-generation-3.md"
              - "development/templates.md"
              - "development/local/docksal.md"
              - "development/local/lando.md"
              - "development/deploy-button.md"
              - "domains/cdn/managed-fastly.md"
              - "domains/security/web-application-firewall/fastly.md"
              - "domains/steps/custom-domains-preview-environments.md"
              - "dedicated-gen-2/*"
              - "dedicated-gen-3/*"
              - "guides/*"
              - "languages/java/frameworks.md"
              - "learn/resources.md"
              - "learn/tutorials/migrating.md"
              - "create-apps/upgrading.md"
              - "create-apps/workers.md"
              - "create-apps/flexible-resources.md"
              - "environments/scalability.md"
              - "security/web-application-firewall/*"
          lang: "en"

        - source: "../platform/static/images"
          target: "static/images"
        - source: "../platform/static/videos"
          target: "static/videos"
        - source: "static/scripts"
          target: "static/scripts"
        - source: "static/files"
          target: "static/files"

        - source: "src"
          target: "content"
        - source: "static/images"
          target: "static/images"



security:
  funcs:
    getenv:
    - ^GITHUB_
    - ^HUGO_HEAP_ID
  http:
    methods: none
