<br>
<div class="w-md-75 w-lg-50 mx-auto text-center mb-7">
    <div class="row">

        <div class="col-lg-4">
          <button onclick="window.location.href = '/';" type="button" class="btn btn-block btn-outline-primary">GitHub</button>
        </div>

        <div class="col-lg-4">
          <button onclick="window.location.href = '/';" type="button" class="btn btn-block btn-outline-primary">GitLab</button>
        </div>

        <div class="col-lg-4">
          <button onclick="window.location.href = '/';" type="button" class="btn btn-block btn-outline-primary">Bitbucket</button>
        </div>
    </div>
</div>
<br>
