<div class="home-hero" style="text-align: center; padding: 5rem 2rem;">

    <h3>Welcome to the</h3>
    <h1>{{ .Site.Params.vendor.name }} Developer Center</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum mauris id tincidunt gravida. Suspendisse sagittis euismod mi. Aliquam erat volutpat. Donec venenatis quam non nisi molestie malesuada.</p>
    <p>Nam egestas eros vitae orci cursus tincidunt. Duis vel sodales nulla. </p>
    
    <div style="margin-top: 3rem;">
        <a class="start-cta font-semibold text-sm xl:text-base px-4 py-2 bg-skye rounded text-white hover:bg-skye-dark focus:bg-skye-dark"
        href="/get-started.html" rel="noopener">Get started</a>
        <a class="info-cta font-semibold text-sm xl:text-base px-4 py-2 bg-skye rounded text-white hover:bg-skye-dark focus:bg-skye-dark"
        href="/#{{ printf "What is %s?" .Site.Params.vendor.name | anchorize }}" rel="noopener">What is {{ .Site.Params.vendor.name }}?</a>
    </div>


</div>

<div class="home-resources">
    <h2>Join our community and navigate developer resources</h2>
    <table class="tg">
        <thead>
          <tr>
            <th class="tg-0lax">Configuration</th>
            <th class="tg-0lax">Community</th>
            <th class="tg-0lax">Topics</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-0lax">
                <ul class="resource-list">
                    <li><a href="/create-apps.html">Applications</a></li>
                    <li><a href="/define-routes.html">Routes</a></li>
                    <li><a href="/add-services.html">Services</a></li>
                </ul>
            </td>
            <td class="tg-0lax">
                <ul class="resource-list">
                    <li><a href="#">Discord</a></li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="/overview/get-support.html">Get support</a></li>
                </ul>
            </td>
            <td class="tg-0lax">
                <ul class="resource-list">
                    <li><a href="/administration.html">Administration</a></li>
                    <li><a href="/integrations.html">Integrations</a></li>
                    <li><a href="/increase-observability.html">Observability</a></li>
                </ul>
            </td>
          </tr>
        </tbody>
    </table>
</div>


<style>
    .home-resources {
        text-align: center; 
        padding: 1rem 2rem; 
        border: 2px solid #191C1E;
        border-color: #191C1E !important;
    }
    
    .tg-0lax {
        text-align: center;
        background-color: white !important;
    }

    .resource-list {
        list-style: none;
        padding-left: 0rem !important;
    }

    .start-cta {
        color: white !important;
        text-decoration: none !important;
        font-size: 16px !important;
        font-weight: 700 !important;
        letter-spacing: 0.48px !important;
        background: #6046FF !important;
        padding: 10px 16px !important;
        margin-right: 1rem;
        border-radius: 80px !important;
    }
    .start-cta:hover {
        background: #4D38CC !important;
        color: white !important;
    }

    .info-cta {
        color: #191C1E !important;
        text-decoration: none !important;
        font-size: 16px !important;
        font-weight: 700 !important;
        letter-spacing: 0.48px !important;
        background: white !important;
        padding: 10px 16px !important;
        border-radius: 80px !important;
        border: 2px solid #191C1E;
        border-color: #191C1E !important;
    }
    .info-cta:hover {
        background: #191C1E !important;
        color: white !important;
    }

</style>