name: Linting
on:
  push:
    branches-ignore:
      - main

jobs:
  prose:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Vale
      uses: errata-ai/vale-action@reviewdog
      with:
        fail_on_error: true
        reporter: github-check
        level: warning
        files: docs/src
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
