name: Get PR URL, start dependent jobs
#on:
#  pull_request_target:
#    branches: [main]
#    types: [labeled,opened,reopened,synchronize]
on:
  workflow_run:
    workflows: ["Record information on PR and (maybe) Build from fork"]
    types:
      - completed

env:
  PLATFORMSH_CLI_NO_INTERACTION: 1
  PLATFORM_PROJECT: ${{ vars.PROJECT_ID }}
  PLATFORMSH_CLI_DEFAULT_TIMEOUT: 60 # Increase timeout for CLI commands
  UPSUN_DOCS_PREFIX: "https://docs.upsun.com"

jobs:
  get_info_on_pr:
    runs-on: ubuntu-latest
    name: "Retrieves information on the PR"
    outputs:
      prnum: ${{ steps.set_pr_number.outputs.prnum }}
      headsha: ${{ steps.set_pr_head_sha.outputs.headsha }}
      basesha: ${{ steps.set_pr_base_sha.outputs.basesha }}
      prbranch: ${{ steps.set_pr_branch.outputs.branch }}
      continuetests: ${{ steps.set_continue_tests.outputs.continue }}
      reposource: ${{ steps.set_repo_source.outputs.reposource }}
    steps:
      - name: Download info on PR
        uses: dawidd6/action-download-artifact@v6
        with:
          workflow: build-from-fork.yaml
          workflow_conclusion: completed
          name: pr-info
      - id: set_pr_number
        run: |
          PR_NUM=$(cat pr_number.txt)
          echo "prnum=${PR_NUM}" >> $GITHUB_OUTPUT
      - id: set_pr_head_sha
        run: |
          HEAD_SHA=$(cat pr_head_sha.txt)
          echo "headsha=${HEAD_SHA}" >> $GITHUB_OUTPUT
      - id: set_pr_base_sha
        run: |
          BASE_SHA=$(cat pr_base_sha.txt)
          echo "basesha=${BASE_SHA}" >> $GITHUB_OUTPUT
      - id: set_pr_branch
        run: |
          BRANCH=$(cat branch.txt)
          echo "branch=${BRANCH}" >> $GITHUB_OUTPUT
      - id: set_continue_tests
        run: |
          CONTINUE=$(cat continuetests.txt)
          echo "continue=${CONTINUE}" >> $GITHUB_OUTPUT
      - id: set_repo_source
        run: |
          SOURCE=$(cat forkorsource.txt)
          echo "reposource=${SOURCE}" >> $GITHUB_OUTPUT

  get_pr_info:
    name: "get PR URL, list of changed files"
    needs:
      - get_info_on_pr
    runs-on: ubuntu-latest
    env:
      CONTINUE: ${{ needs.get_info_on_pr.outputs.continuetests }}
      BRANCH: ${{ needs.get_info_on_pr.outputs.prbranch }}
      BASESHA: ${{ needs.get_info_on_pr.outputs.basesha }}
      HEADSHA: ${{ needs.get_info_on_pr.outputs.headsha }}
      PRNUM: ${{ needs.get_info_on_pr.outputs.prnum }}
      REPOSOURCE: ${{ needs.get_info_on_pr.outputs.reposource }}

    # Run only for PRs from default repo and approved PRs from forks
    if: needs.get_info_on_pr.outputs.continuetests == 'true'
    outputs:
      pr_url: ${{ steps.get_env_url.outputs.pr_url }}
      pr_url_upsun: ${{ steps.get_env_url.outputs.pr_url_upsun }}

    steps:
      # at this point we want to checkout the repository but at the latest commit of the default branch
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: retrieve PR url
        id: get_env_url
        uses: ./.github/actions/get-pr-info
        with:
          platformsh_token: ${{ secrets.PLATFORMSH_CLI_TOKEN }}
          branch: ${{ env.BRANCH }}
          project: ${{ vars.PROJECT_ID }}

      #      - uses: actions/checkout@v4
      #        with:
      #          fetch-depth: 0
      #          ref: ${{ github.event.pull_request.head.sha }}

      - name: Make artifact files
        run: |
          # these are used in comment-on-pr
          touch pr_number.txt pr_comment.txt
          echo "${{ env.PRNUM }}" > pr_number.txt

      # If no environment URL, create a report of that
      - name: Create failure report
        if: steps.get_env_url.outputs.env_status == 'failure'
        run: |
          echo -e "The environment on Platform.sh failed to deploy. :slightly_frowning_face:\n\nCheck the logs: https://console.platform.sh/projects/${{ env.PLATFORM_PROJECT }}/${{ env.BRANCH }}" > pr_comment.txt

      - name: Get changed files
        if: steps.get_env_url.outputs.env_status == 'success'
        id: changed-files
        uses: tj-actions/changed-files@v41
        with:
          sha: ${{ env.HEADSHA }}
          base_sha: ${{ env.BASESHA }}

      # Create a list of relevant changed pages
      - name: Get list of changed files
        if: steps.get_env_url.outputs.env_status == 'success'
        id: get-files
        env:
          ENV_URL: ${{ steps.get_env_url.outputs.pr_url }}
        run: |
          files_platform=()
          files_upsun=()
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do

            # Rewrite all Markdown files in the source to be links in the final environment
            if [[ $file = "sites/platform/src/"*".md" ]]; then

              # Remove file extension
              page=${file/.md/.html}

              # Remove initial directory
              page=${page/"sites/platform/src/"/}

              # Shift index pages up a level
              page=${page/"/_index.html"/".html"}

              files_platform+=("$ENV_URL$page")
            fi

            if [[ $file = "sites/upsun/src/"*".md" ]]; then

              # Remove file extension
              page=${file/.md/.html}

              # Remove initial directory
              page=${page/"sites/upsun/src/"/}

              # Shift index pages up a level
              page=${page/"/_index.html"/".html"}

              # Adjust URL for Upsun docs.
              UPSUN_ENV_URL=${{ env.UPSUN_DOCS_PREFIX }}.${ENV_URL:8}

              files_upsun+=("$UPSUN_ENV_URL$page")
            fi

          done

          # If there are changed files for Platform.sh, return a list
          # Using "\n" here creates problems in passing data to the next step, so replace there instead
          if (( ${#files_platform[@]} != 0 )); then
            echo $(printf "||%s" "${files_platform[@]}")
            echo changed_files_platform=$(printf "||%s" "${files_platform[@]}") >> $GITHUB_OUTPUT
          else
            echo changed_files_platform="" >> $GITHUB_OUTPUT
          fi

          # If there are changed files for Upsun, return a list
          # Using "\n" here creates problems in passing data to the next step, so replace there instead
          if (( ${#files_upsun[@]} != 0 )); then
            echo $(printf "||%s" "${files_upsun[@]}")
            echo changed_files_upsun=$(printf "||%s" "${files_upsun[@]}") >> $GITHUB_OUTPUT
          else
            echo changed_files_upsun="" >> $GITHUB_OUTPUT
          fi

      # If there are changed pages, create a comment with a checklist
      - name: Comment with links
        if: steps.get-files.outputs.changed_files_platform != '' || steps.get-files.outputs.changed_files_upsun != ''
        env:
          PAGES_PLATFORM: ${{ steps.get-files.outputs.changed_files_platform }}
          PAGES_UPSUN: ${{ steps.get-files.outputs.changed_files_upsun }}
        run: |
          echo -e "Your Platform.sh environment has successfully deployed. :rocket:\n\nSee the changed pages:\n\n<details>\n<summary>Platform.sh docs</summary><br/>\n\n${PAGES_PLATFORM//||/'\n- [ ] '}\n\n</details>\n\n<details>\n<summary>Upsun docs</summary><br/>\n\n${PAGES_UPSUN//||/'\n- [ ] '}" > pr_comment.txt

      # If there are no changed pages, create a comment
      # with a link to general URL
      - name: Comment without links
        if: steps.get-files.outputs.changed_files_platform == '' && steps.get-files.outputs.changed_files_upsun == '' && steps.get_env_url.outputs.env_status == 'success'
        env:
          ENV_URL: ${{ steps.get_env_url.outputs.pr_url }}
        run: |
          UPSUN_ENV_URL=${{ env.UPSUN_DOCS_PREFIX }}.${ENV_URL:8}
          echo -e "Your Platform.sh environment has successfully deployed. :rocket:\n\nSee the site:\n\n- [Platform.sh docs]($ENV_URL)\n- [Upsun docs]($UPSUN_ENV_URL)" > pr_comment.txt

      - uses: actions/upload-artifact@v4
        with:
          name: pr-comment-info
          path: |
            pr_comment.txt
            pr_number.txt
          retention-days: 1

      # If environment failed to create, fail the workflow
      - name: Fail workflow
        env:
          PLATFORMSH_CLI_TOKEN: ${{ secrets.PLATFORMSH_CLI_TOKEN }}
        if: steps.get_env_url.outputs.env_status != 'success'
        run: |
          echo "::error::The environment for pull request ${{ env.PRNUM }} failed to deploy. Please rerun this workflow."
          echo "The last status we received was ${{ steps.get_env_url.outputs.env_status }}"
          echo "List of activities that we ask for, but not limited to the last one:"
          platform activities --type "environment.push environment.activate environment.redeploy environment.branch" --environment ${{ env.BRANCH }}
          echo "Now a list of the (up to) last 20 activities for branch ${{ env.BRANCH }}:"
          platform activities --environment ${{ env.BRANCH }} --limit 20
          # Get the ID of failed activity and output its log:
          failedID=$(platform activities --format plain --type "environment.push environment.activate environment.redeploy environment.branch" --no-header --columns "ID" --limit 1 --environment ${{ env.BRANCH }} --result=failure)
          echo "Log for the failed activity, ID ${failedID}"
          platform activity:log ${failedID} --environment ${{ env.BRANCH }}
          exit 1


  dont_run_nonlabeled_forks:
    name: Warn about non-labeled PRs from forks
    needs:
      - get_info_on_pr
    runs-on: ubuntu-latest
    if: needs.get_info_on_pr.outputs.continuetests == 'false'
    steps:
      - name: Warn the environment will not be built
        run: |
          echo "::warning::Pull Requests from forks will not have an environment built until they are given the appropriate label."


  run-redirection-tests:
    name: Verify contracted redirections
    needs:
      - get_info_on_pr
      - get_pr_info
    runs-on: ubuntu-latest
    env:
      CONTINUE: ${{ needs.get_info_on_pr.outputs.continuetests }}
      HEADSHA: ${{ needs.get_info_on_pr.outputs.headsha }}
    # this isn't REALLY needed since we're depending on get_pr_info and it only completes successfully
    if: needs.get_info_on_pr.outputs.continuetests == 'true'
    steps:
      - uses: actions/checkout@v4
        with:
          # we need to checkout the PR repo/branch even if it's a fork because the action in the next step needs to
          # retrieve the contracted redirections from .platform/routes.yaml. This may change in the future if we
          # switch to using a redirection service. Actions DO NOT have access to secrets.
          fetch-depth: 0
          ref: ${{ env.HEADSHA }}
      - uses: ./.github/actions/redirection-verification
        with:
          environment-url: ${{ needs.get_pr_info.outputs.pr_url_upsun }}

  run-e2e-test:
    runs-on: ubuntu-latest
    name: E2E tests
    needs:
      - get_info_on_pr
      - get_pr_info
    env:
      CONTINUE: ${{ needs.get_info_on_pr.outputs.continuetests }}
      REPOSOURCE: ${{ needs.get_info_on_pr.outputs.reposource }}
      HEADSHA: ${{ needs.get_info_on_pr.outputs.headsha }}
    # this isn't REALLY needed since we're depending on get_pr_info and it only completes successfully
    if: needs.get_info_on_pr.outputs.continuetests == 'true'
    strategy:
      matrix:
        include:
          - site: platformsh
            url: ${{ needs.get_pr_info.outputs.pr_url }}
          - site: upsun
            url: ${{ needs.get_pr_info.outputs.pr_url_upsun }}
    steps:
      - uses: actions/checkout@v4
        if: env.REPOSOURCE == 'source'
        with:
          # If this is the base repo, then we want to check out the PR branch so we can potentially run new tests/changes
          # that are included in the PR.
          fetch-depth: 0
          ref: ${{ env.HEADSHA }}
      - uses: actions/checkout@v4
        # if it isn't the base repo and we're in a fork then we'll checkout the base repo
        if: env.REPOSOURCE == 'fork'
      - uses: cypress-io/github-action@v6
        with:
          wait-on: ${{ matrix.url }}
          record: true
        env:
          CYPRESS_baseUrl: ${{ matrix.url }}
          CYPRESS_environment: github
          CYPRESS_site: ${{ matrix.site }}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  run_all_tests:
    name: Report all E2E tests status
    runs-on: ubuntu-latest
    needs:
      - run-e2e-test
      - run-redirection-tests
      - get_info_on_pr
    env:
      HEADSHA: ${{ needs.get_info_on_pr.outputs.headsha }}
    if: ${{ always() }}
    steps:
      - name: Report matrix status
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            github.checks.create({
              name: 'Report E2E tests status',
              head_sha: '${{ env.HEADSHA }}',
              status: 'completed',
              conclusion: '${{ needs.run-e2e-test.result }}',
              output: {
                title: 'Report E2E tests status',
                summary: 'Results: ${{ needs.run-e2e-test.result }}'
              },
              owner: github.repository_owner,
              repo: github.repository
            })

      - name: Report Redirection checks
        uses: actions/github-script@v7
        with:
         github-token: ${{ secrets.GITHUB_TOKEN }}
         script: |
           github.checks.create({
             name: 'Verify contracted redirections',
             head_sha: '${{ env.HEADSHA }}',
             status: 'completed',
             conclusion: '${{ needs.run-redirection-tests.result }}',
             output: {
               title: 'Verify contracted redirections',
               summary: 'Results: ${{ needs.run-redirection-tests.result }}'
             },
             owner: github.repository_owner,
             repo: github.repository
           })
