.xssroot {
  text-align: center;
}


.searchContainer {
    /* position: fixed; */
    align: center;
    /* font-family: "Open Sans", sans-serif; */
    /* width: 95% !important; */
    font-family: "Overpass";
    font-size:14px !important;
    line-height: 22px !important;
    list-style: none;
    border: none !important;
    /* z-index: 9999; */
    /* margin: 1rem; */
    background: white;
}

@media (min-width: 1030px) {
  .searchContainer {
    padding: 1rem 3.5rem 1rem 1rem;
  }
}


/* .searchContainer form {
  max-width: 100%;
} */

@media (max-width: 825px) {

  .duik-sidebar {
    padding-top: 3rem;
  }
  .searchContainer {
    /* top | right | bottom | left */
    padding: 1rem 0rem 1rem 0.5rem;
    /* max-width: 100%; */
  }

  .searchContainer input {
    max-width: 315px !important;
  }

  .searchContainer form {
    max-width: 315px !important;
  }

}

.searchContainer input {
  border: none;
  padding-left: 1.5rem;
}


.searchContainer input:focus {
  outline: none;
}

.suggestions {
  padding-top: 0.5rem;
  width: 600px !important;
  max-width: 90% !important;
  /* min-width: auto; */
  /* background: red; */
  /* border: 1px solid #000000; */
  /* background-color: blue; */
}

.suggestions h4 {
  font-size: 18px;
}

.suggestions div.hits ul  em {
	 background-color: rgb(255, 205, 210);
     font-style: normal;
}
.suggestions div.hits ul h5 {
   color: #145CC6;
   font-size:14px !important;
	 border-bottom: 1px solid #ddd;
	 padding: 4px 0px 4px 0px;
     margin: 2px;
     display:block;
}
.suggestions div.hits ul li {
	 padding: 0px 0px 6px 6px;

}
.suggestions div.hits ul a {
	 text-decoration: none;
}
.suggestions div.hits ul a:link {
	 color: #145CC6;
}
.suggestions div.hits ul a:hover {
	 text-decoration: underline;
}
.suggestions div.hits ul a:visited {
	 color: #145CC6;
}
.suggestions div.hits {display:inline-block;}

/* .suggestions {width: 800px;} */
.suggestions .section {display:inline-block;width:180px;font-family: "Overpass"; vertical-align:middle;}
.suggestions .hits {width:400px;display:inline-block;width:100%;font-family: "Overpass"; vertical-align:middle;}

div.suggestions  div > ul > li {
    list-style-type: none;
    list-style-position: none;}
